

.some-change:nth-child(2){
}
.some-change:nth-child(3){
    
}
.some-change:nth-child(4){
    background:red;
    display:none;
}

.row {
    
    border: 1px dashed black;
    animation-name: example3;
      animation-duration: 100s;
      animation-iteration-count: 10;
  }
   @keyframes example3 {
  
    5%   {background-color:white;transform: rotateX(-10deg); }
    5%   {background-color:white;transform: rotateY(-10deg); }
    5%   {background-color:white;transform: rotateZ(-10deg); }
  
    25%   {background-color:white;transform: rotateX(-50deg); }
    25%   {background-color:white;transform: rotateY(50deg); }
    25%   {background-color:white;transform: rotateZ(-30deg); }
    
    }

    span {
       
        border: 1px  black;
        animation-name: example4;
          animation-duration: 60s;
          animation-iteration-count: 10;
      }
       @keyframes example4 {
      
      
        
        }

    /*
    .first-data {
    background-color: #bb25e00c;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 12;
  }
  
  */