<div class="row row-skill">
    <h3>Skills</h3>
    <br />
    <div class="row">
      <span>React.js</span>
    </div>
  <div class="row">
    <span>Angular</span>
  </div>
  <div class="row">
    <span>JavaScript</span>
  </div>
  <div class="row">
    <span>HTML/HTML5</span>
  </div>
  <div class="row">
    <span>CSS/CSS3</span>
  </div>
  <div class="row">
    <span>git</span>
  </div>
  <div class="row">
    <span>Azure</span>
  </div>
  <div class="row">
    <span>PHP</span>
  </div>
  <div class="row">
    <span>MySQL</span>
  </div>

  </div>
