<div class="row">
  <br />
  <br />
  <span><h4>Proffessional experience</h4></span>
  <div class="row">
    <div class="col col-10">
      <span>Broadridge Financial Solutions</span>
      <ul>
        <li>
          Roles and Responsibilities:
          <ul>
            <li>
              1. Designing
              <ul>
                <li>
                  Involved in designing efficient and responsive single page
                  applications(SPA) using HTML5, CSS3, JavaScript, Bootstrap,
                  React.js, Redux and RESTful web services for QA environments
                  depending upon the client requirements.
                </li>
                <li>
                  Creating interactive UI’s in React.js using one-way data
                  flow,Virtual DOM,JSX.
                </li>
              </ul>
            </li>
            <li>
                2.	UI/UX performance monitoring: 
                <ul>
                  <li>
                    Identifying the production and non-production issues which impact user experience and the performance of the web applications.

                  </li>
                  <li>
                    Implemented React JS code to handle cross browser compatibility issues.

                  </li>
                </ul>
              </li>
              <li>
                3.	Debugging: 
                <ul>
                  <li>
                    	Investigated and reviewed bugs,defects which occur  during migration activities and raised/reported by client or from the internal support Team.

                  </li>
                  <li>
                    Involved in software coding,testing and debugging for web presentational layer using JavaScript and front-end technologies.

                  </li>
                </ul>
              </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col col-2">Jun 2018-Jan 2021</div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
