/*
div {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 1px solid black;
    animation-name: example;
      animation-duration: 19s;
      animation-iteration-count: 12;
  }
   @keyframes example {
    10%   {background-color:#0070bc;transform: rotateY(-130deg); }
    50%  {background-color:#0070ba; transform: rotateZ(180deg); }
    100%  {background-color:#0070b1; transform: rotateY(360deg);}
    
    }
  */


 /* @keyframes example {
    0%   {background-color:#0070bc; }
    25%  {background-color:#0070ba; }
    50%  {background-color:#0070b1; }
    75%  {background-color:green; }
    100% {background-color:red; }
  }
  */

  .container{
    background: #F2F2F2;
    background: -webkit-linear-gradient(top left, #F2F2F2, #141414);
    background: -moz-linear-gradient(top left, #F2F2F2, #141414);
    background: linear-gradient(to bottom right, #F2F2F2, #141414);

  }