<div class="row">
    <div class="col col-4 "></div>
    <div class="col col-4 "></div>
<br>
<div class="row">
   <h1>Niki Kalwar</h1>
<br>

<div class="row">
    <div class="col person-role">
        <h3>Software Engineer</h3>
    </div>
</div>
<hr>
<br>
<div class="row contact-details">
    <div class="row phone-number">
        <div class="col">
            <span>+91-99999999</span>
        </div>
        </div>
    <div class="row email-value">
        <div class="col">
            <span>test@mailme.com</span>
        </div><br></div>
    <div class="row linkedin-value">
        <div class="col">
            <span>linkedinLink</span>
        </div>
        <br></div>
</div>
<br>
</div>