.row {
    background: #DDDDDD;
background: -webkit-linear-gradient(top left, #DDDDDD, #595959);
background: -moz-linear-gradient(top left, #DDDDDD, #595959);
background: linear-gradient(to bottom right, #DDDDDD, #595959);
    border: 1px dashed black;
    opacity:1.2;
    animation-name: example1;
      animation-duration: 50s;
      animation-iteration-count: 1;
  }
   @keyframes example1 {
  
    15%   {background-color:#DDDDDD;transform: rotateX(10deg); }
    20%   {background-color:#DDDDDD;transform: rotateY(10deg); }
    30%   {background-color:#DDDDDD;transform: rotateZ(10deg); }
    40%   {background-color:#DDDDDD;transform: rotateX(30deg); }
    50%   {background-color:#DDDDDD;transform: rotateY(30deg); }
    60%   {background-color:#DDDDDD;transform: rotateZ(135deg); }
    70%   {background-color:#DDDDDD;transform: rotateX(20deg); }
    80%   {background-color:#DDDDDD;transform: rotateY(20deg); }
    90%  {background-color:#DDDDDD; transform: rotateZ(20deg); }
    
    
    }

    .col {
       
        border: 1px dashed black;
        animation-name: example1;
          animation-duration: 100s;
          animation-iteration-count: 10;
      }
       @keyframes example {
      
        5%   {background-color:#0070bc;transform: rotateX(10deg); }
        20%   {background-color:#0070bc;transform: rotateY(20deg); }
        30%   {background-color:#0070bc;transform: rotateZ(40deg); }
        40%   {background-color:#0070bc;transform: rotateX(50deg); }
        50%   {background-color:#0070bc;transform: rotateY(10deg); }
        60%   {background-color:#0070bc;transform: rotateZ(70deg); }
        70%   {background-color:#0070bc;transform: rotateX(100deg); }
        80%   {background-color:#0070bc;transform: rotateY(30deg); }
        100%  {background-color:#0070ba; transform: rotateX(90deg); }
        
        
        }

    /*
    .first-data {
    background-color: #bb25e00c;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 12;
  }
  
  */